<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3>Third</h3>

    <br />

    <div class="display-1">Hello world</div>
    <div class="display-4 text-muted">Second</div>
    <div class="display-6">Third</div>

    <br />
    
        <div class="card">
            <div class="card-body">
             <span class="text-muted text-capitalize"> Three Rings for the Elven-kings under the sky</span>
             <div class="text-end text-capitalize"> Seven for the Dwarf-lords in their halls of stone
                 </div>
             </div>
         </div>
    
    <br />
    <br />

    <button class="btn btn-primary"><span class="text-uppercase"> Test button</span></button>
    <a href="/car" class="btn">Car button</a>

    <br />
    <br />

       <div class="card">
         <div class="card-body">
            <p class="text-end text-warning">Nine for Mortal Men doomed to die</p>
            <p class="text-danger">One for the Dark Lord on his dark throne</p>
            <p class="text-dark text-center">In the Land of Mordor where the Shadows lie</p>
            </div>
         </div>

    

    <br />

     <div class="card">
        <div class="card-body">
                <button class="btn btn-outline-danger"> Test button</button>
                 <button class="btn btn-outline-warning"> Test button</button>
                 <button class="btn btn-outline-success"> Test button</button>
        </div>
    </div>
    
    <br />
    <br />
    <br />

    <button class="btn btn-outline-info btn-lg"> Test button</button>
    <button class="btn btn-outline-warning"> Test button</button>
    <button class="btn btn-outline-primary btn-sm"> Test button</button>

    <br />
    <br />
    <br />

    <div class="card">
        <div class="card-body">
            Our content
        </div>
    </div>



</main>