<main>
    <div class="row">
        <div class="col-12 mb-5">
            <div class="nav nav-tabs">
                    <div class="nav-item">
                        <a href="/#" class="nav-link active">Main</a> 
                    </div>
                    <div class="nav-item">
                        <a href="/#" class="nav-link">Catalog</a>
                    </div>

                    <div class="nav-item">
                        <a href="/#" class="nav-link disabled">About</a>
                    </div>
            </div>
        </div>
        <div class="col-5 pe-5">
                <div class="card">
                    <div class="pt-4 pb-3 px-4">
                            <div class="nav flex-column">
                                <div class="nav-item mb-2">
                                    <div class="card">
                                        <a href="/task31" class="nav-link">First</a> 
                                    </div>
                                </div>
                                
                                <div class="nav-item mb-2">
                                    <div class="card">
                                        <a href="/task21" class="nav-link active">Second</a>
                                    </div>
                                </div>
                                
                                <div class="nav-item mb-2">
                                    <div class="card">
                                        <a href="/task22" class="nav-link disabled">Third</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>

        <div class="col-7">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Laptops</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Apple</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/mac">MacBook</a>
                        </li>
                    </ol>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary rounded-pill mb-3">Click mich</button>
                    <div class="col-6 alert alert-danger">
                        <h6 class="m-0"><span class="badge text-bg-success rounded-pill">Hello</span> world! <span class="badge text-bg-warning rounded-pill">Der besten</span></h6>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>