<main>
    <button class="btn btn-dark btn-lg"><h1><i class="bi bi-android2"></i> <i class="fa-solid fa-face-smile"></i></h1> </i></button>
    
    <div>
       <img class="mt-5" src="/svg/smile.svg">
    </div>
</main>